version: "3.9"

services:
  api:
    build: .
    container_name: inventory-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    command: >
      uvicorn app.app:app
      --host 0.0.0.0
      --port 8000
      --reload

  db:
    image: postgres:16
    container_name: inventory-db
    restart: always
    environment:
      POSTGRES_DB: inventory
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
